* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    font-size: 18px;
    background-color: rgb(229, 234, 234);
    position: sticky;
    top: 0;
}

nav .meni_1 {
    list-style-type: none;
    padding: 10px;
    overflow: auto;
}

nav .meni_1 li {
    float: left;
    padding: 0 20px;
}

nav .meni_2 {
    padding-left: 10px;
    list-style-type: none;
}

nav .meni_2 li {
    clear: both;
}

.novi_red {
    grid-column-start: 1;
}


.tabela {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-column-gap: 10px;   
    grid-row-gap: 10px;
    padding: 10px;  
}

.tabela h2 {
    padding: 20px 10px;
}

h1 {
    padding: 10px 10px;
}

.tabela > div {
    border: 1px solid;
    text-align: center;
    padding: 10px;
} 

.tabela .izborni_predmet {
    background-color: powderblue;
}

.tabela .predmet_ne_ide {
    background-color: gray;
}



