* {
    margin: 0;
}

h1 {
    padding: 10px 10px;
    text-align: center;
}

h2 {
    padding: 10px 10px;
    justify-content: center;
}

a:link {
    color:#0000EE;
}

a:visited {
    color: #0000EE;
}

.meni {
    width: 100%;
    background-color: rgba(196, 199, 202, 0.997);
    font-size: 18px;
    padding: 10px;
    justify-content: center;
}

ul.meni_1 {
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: column;
}

ul.meni_2  {
    display: block;
    list-style: none;
}


.novi_red {
    grid-column-start: 1;
}


.tabela{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-column-gap: 10px;   
    grid-row-gap: 10px;
    padding: 10px;  
    background-color: rgb(225, 227, 230);
    margin: 10px;
}

.tabela  > div {
    text-align: center;
    padding: 10px;
}

.tabela > div img  {
    width: 25%
}

.tabela > div {
    /*border: 1px solid;*/
    text-align: center;
    padding: 10px;
} 

.izborni_predmet {
    background-color: powderblue;
}

.predmet_ne_ide {
    background-color: gray;
}

.redovni_predmet {
    background-color: white;
}


@media (min-width: 960px) {

    html {
        scroll-padding-top: 105px;
    }
    

    .meni {
        position: sticky;
        top: 0;
    }

    ul.meni_1 {
        flex-direction: row;
    }
}
