h1 {
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 1000px;
    text-align: left;
    margin: 10px;
}

table th, td{
    border: 1.5px solid black;
}

table td {
    vertical-align: text-top;
    font-size: 15px;
    padding: 10px;
}

table th {
    text-align: left;
    font-size: 20px;
    vertical-align: text-top;
    padding: 10px;
}

table .ime_prezime {
    width: 10%;
}

table .broj_sedmice {
    width: 5%;
}
table .trenutna_sedmica {
    width: 15%;
}

table .sedmica_nije_odrzana {
    width: 70%;
}

table tr.red_1, tr.red_2{
    height: 55px;
   cursor: pointer;
}

table tr.red_1 .predavanje_vjezba {
    text-align: center;
    padding: 0;
}

table .prisustvo_da {
    background-color: rgb(50, 169, 58);
}

table .prisustvo_ne {
    background-color: rgb(221, 49, 49);
}

table .prisustvo_nije_uneseno {
    background-color: white;
}

button {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

/*dodano*/
* {
    margin: 0;
}

#divMeni {
    width: 100%;
    min-height: 50px;
    background-color: rgb(230, 240, 249);
    font-size: 16px;
    padding-top: 5px;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    cursor: pointer;
}

li {
    font-size: 17px;
    padding: 10px;
}

li:hover {
    background-color: rgb(104, 151, 194);
    color: white;
}

.btnLogout {
    border: none;
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(179, 205, 229);
    position: absolute;
    margin-top: 5px;
    top: 0;
    right: 0;
    margin-right: 5px;
}

.btnLogout:hover {
    background-color: rgb(104, 151, 194);
    color: white; 
}